@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(2, 0, 36);
  background: var (--bg-color);
}
body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0deg, var(--bg-color-m10), var(--bg-color-20));
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.lanes {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-height: 50vh;
}

.lane {
  display: flex;
  flex-direction: column;
  background-color: #aaa;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
  max-width: 16rem;
}

.header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 0.25rem;
}

.tasks {
  padding: 0 0.25rem;
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: white;
  color: black;
  cursor: grab;
  margin: 0.25rem 0;
  text-align: center;
  word-wrap: break-word;
}

.task-input {
  padding: 0.3rem 0.5rem;
  border: none;
  background-color: #333;
  color: white;
  outline: none;
  width: 100%;
}

.task-input::placeholder {
  color: #aaa;
  font-style: italic;
}

[data-draggable] {
  user-select: none;
}

[data-draggable].hide {
  display: none !important;
}

[data-draggable].dragging {
  position: absolute;
  opacity: 0.5;
  transform: rotate(5deg);
  pointer-events: none;
}

[data-draggable].ghost {
  background-color: black;
  opacity: 0.25;
}
.input-file {
  font: inherit;
}
.input-file + label {
  display: inline-block;
}
.controls-container {
  display: flex;
  flex-direction: column;
}
.controls-container > * {
  margin: 5px 0;
}
.trash-container {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 10px;
  color: rgb(248, 93, 36);
}
.trash-drop-zone {
  padding: 1rem;
}

@keyframes rise {
  100% {
    transform: scale(2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 50px rgba(0, 0, 0, 0.1);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
}

#export-button, .input-file + label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#export-button i, .input-file + label i {
  font-size: 1.25em;
}